/*hearder start*/

body{
  min-width:320px;
}
  .banner{
     background:#5192e9;
	 float:left;
	 width:100%;
	 height:3em
  }
  .banner ul{
	   list-style-type:none;
	   width:100%;
	   line-height:3em   
	}
	.banner li {
	  float:left;
	  font-size:1.6em;
	  margin-left:4%
	}
	.header:after{
	  content:"";
	  display:block;
	  clear:both;
	  overflow:hidden;
	  zoom:1
	}
	.logo:after{
	  content:"";
	  display:block;
	  clear:both;
	  overflow:hidden;
	  zoom:1
	}
	.logo{
	  background:#eef3fa;
	  padding:5px 10%
	}
	.info{
	   float:left
	}
	.display{
	  display:inline-block;
	}
	.theme{
	   float:right;
	   margin-top:4em
	}
	.banner li a{
	   color:#fff;
	   text-decoration:none
	}
	.banner li:hover{
	  background:red;
	  border-radius:1em;
	  opacity:0.5;
	  filter:alpha(opacity=80)
	}
    .banner li:active{
	  background:red;
	  border-radius:1em;

	}
	.move_mark{
	   background:red;
	   height:3px;
	   width:33px;
	   margin-top:3em;
	   margin-left:4%;
	}
   ::selection{
    background: #FDE6BA;
    color: #000;
    text-shadow: 3px 3px 3px #CCC;
}
/*header end*/

/*main start*/
    .main{
	   margin-top:1em;
	   width:70%;
	}
   /*left*/
  .left{
     width:80%;
	 margin:0 1em;
	 position:relative
  }
  .day{
    margin-top:1em;

  }   
  
  .time{
     background:rgba(0,0,0,.3);
	 font-size:2em;
	 color:white;
	 padding:0 5px;
	 border-radius:10px
  }
  .title_link{
     font-size:1.7em;
	 text-decoration:none;
	 color:#d0d0d0
  }
  .title_link:hover{
     text-decoration:none
  }
  .article_body{
     font-size:1.5em
  }



  .load_more{
	 cursor:pointer;
	 font-size:1.3em;
	 position:absolute;
	 left:50%;
	 margin-top:1em
  }
    



  /*left end*/

  /*right*/
  .right
  {
    width:18%;
	position:absolute;
	margin-top:1em;
	
  }
  .infos:after{
	  content:"";
	  display:block;
	  clear:both;
	  overflow:hidden;
	  zoom:1
  }
  .avatar{
     float:right;
	 display:inline-block;
	 margin:5px
  }
  .name{
     font:italic 3em monospace;
	 background:#5192e9;
	 color:#fff;
	 border-radius:6px;
	 padding:0 0.5em
  }
  .linkother{
    margin-top:1em
  }
  .linkhead{
    background-color:#5192e9;
	border-radius:6px
  }
.backcolor{
   	background:#eef3fa;
}
  h1{
    color:#fff;
	font-size:1.5em;
	margin-left:1em;
	padding:0.4em 0
  }
  .linkbody{
    margin-left:2em
  }
  .linkbody ul li{
    font-size:1.4em;
	padding:8px 0;
	color:#fff
  }
  .linkbody ul li a{
    text-decoration:none;
	color:#333
  }
  .linkbody ul li a:hover{
     color:#5192e9
  }
  .linkbody ul li a:before{
     content:"\f054";
	 font-family:FontAwesome;
	 font-style:normal;
	 font-weight:normal;
	 margin-right:5px

  }

  /*right end*/


/*main end*/



/*footer start*/
  .footer{
     background:#f3f1f4;
	 margin-top:3.5em
  }
  .link{
/*      margin:0 auto;
       	 width:10%; */
		 float:left;
		 margin-left:50%;
         padding-left:5%
  }
  .copyright{
/*      margin:0 auto;
       	 width:20%;
       	 padding:1em */
       float:left;
	   margin-left:50%
  } 
  .footer:after{
     clear:both;
	 content:"";
	 display:block;
	 overflow:hidden;
	 height:0
  }


/*footer end*/

/*backtop*/
.u-backtop{
 position:fixed;
 right:10px;
 bottom:10px;
 display:none;
 width:42px;
 height:42px;
 border-radius:22px;
 background-color:rgba(238,243,250,.95);
 border:1px solid #c5c5c5;
 z-index:9999
}


.u-icon{
  display:inline-block;
  background:url(../img/sprites.png) no-repeat;
  background-size:4.5rem
}

.i-backtop{
  position:absolute;
  top:50%;
  left:50%;
  width:16px;
  height:21px;
  margin:-9px 0 0 -8px;
  background-position:-41px -71px
}
/*@media query start*/
@media screen and (max-width:740px){
    .right{
	  display:none;
	}
	.left{
	  width:100%;
	}
	.logo{
	 padding:0
	}
	.footer{
	 display:none;
	}
}
/*@media query end*/


/*common css  start*/
.fixed{
    z-index:999;
	position:fixed;
	top:0
}

@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("fontAwesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), 
		url("fontAwesome/font/fontawesome-webfont.woff") format("woff"), 
		url("fontAwesome/font/fontawesome-webfont.ttf") format("truetype"), 
		url("fontAwesome/font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), 
		url("fontAwesome/font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
}

/*common css  end*/