<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="Author" content="kingler/zou">
	<meta name="Keywords" content="front-end">
	<meta name="Description" content="the technology of front-end">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/article.css">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/todo.js"></script>
	<script type="text/javascript" src="../js/EventUtil.js" async defer></script>
	<title>kingler's blog|coding change the world</title>
</head>
<body class="kingler article_main">
	<div class="header">
		<div class="logo">
			<div class="info">	
				<a href="../MyBlog.html" class="display">
					<img src="../img/logonew.jpg" alt="front-end" style="height:5em;"/>
				</a>
				<span>当前位置:<span><span class="city"></span>
			</div>
			<div class="theme">More Coding More Love
			</div>
		</div>
		<div class="banner shadow">
			<ul id="navigation">
				<li>
					<a href="../main.html">主页</a>	 
				</li>
				<li>
					<a href="javascript:void(0)">杂谈</a>
				</li>
				<li>
					<a href="javascript:void(0)">随笔</a>
				</li>
				<li>
					<a href="javascript:void(0)">个人</a>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="article">
		<div class="article_left">
		<img src="../img/imgtwo.jpg" alt="load failed..." width="419"/>
		<div class="nav_href">

		<div class="nav_toc">
		<strong></strong>
		<p>TOC</p>
		</div>
		<ol class="nav_ol">
		 <li><a href="#组合继承代码">组合继承代码</a></li>
		 <li><a href="#js实现">js实现</a></li>
		 <li><a href="#实例">实例</a></li>
		</ol>
		</div>
		</div>
		<div class="article_right">
		<h1>javascript 继承 Demo</h1>
		<p>&nbsp;&nbsp原型链的继承，直接将子类原型指向超类的实例，这时候可以向超类传递参数。但是当子类创建实例的时候，只能向子类的构造函数传递参数，而不能向超类的构造函数传递参数
           &nbsp;&nbsp借用构造函数继承也不是完美的，继承依赖构造函数，方法都是在构造函数中定义的话，函数就无法复用造成浪费。而且在超类的原型中定义的方法，对子类而言也是不可见的，结果所有的类型最后都只能使用构造函数模式。
              因此实际应用中，也很少单独使用借用构造函数和原型链的继承。用组合继承的方式:组合继承就是将原型链和借用构造函数的方法组合到一起，从而组合使用两者的长处，解决缺陷。思路也很简单：使用原型链实现对圆形属性和方法的继承，而通过借用构造函数来实习对实例属性的继承。
		</p>
		<hr>
<h3 id="组合继承代码">组合继承代码</h3>
<pre class="code">
	<span style="color: #0000ff;">&lt;!</span><span style="color: #ff00ff;">doctype html</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">html </span><span style="color: #ff0000;">lang</span><span style="color: #0000ff;">="en"</span><span style="color: #ff0000;"> ng-app</span><span style="color: #0000ff;">="todoApp"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">head</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">meta </span><span style="color: #ff0000;">charset</span><span style="color: #0000ff;">="UTF-8"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">meta </span><span style="color: #ff0000;">name</span><span style="color: #0000ff;">="Generator"</span><span style="color: #ff0000;"> content</span><span style="color: #0000ff;">="EditPlus®"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">meta </span><span style="color: #ff0000;">name</span><span style="color: #0000ff;">="Author"</span><span style="color: #ff0000;"> content</span><span style="color: #0000ff;">=""</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">meta </span><span style="color: #ff0000;">name</span><span style="color: #0000ff;">="Keywords"</span><span style="color: #ff0000;"> content</span><span style="color: #0000ff;">=""</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">meta </span><span style="color: #ff0000;">name</span><span style="color: #0000ff;">="Description"</span><span style="color: #ff0000;"> content</span><span style="color: #0000ff;">=""</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">script </span><span style="color: #ff0000;">src</span><span style="color: #0000ff;">="js/angular.js"</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">script</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">script </span><span style="color: #ff0000;">src</span><span style="color: #0000ff;">="js/todo.js"</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">script</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">title</span><span style="color: #0000ff;">&gt;</span>Angularjs<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">title</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">style </span><span style="color: #ff0000;">type</span><span style="color: #0000ff;">="text/css"</span><span style="color: #0000ff;">&gt;</span><span style="background-color: #f5f5f5; color: #800000;">
	.done-true</span><span style="background-color: #f5f5f5; color: #000000;">{</span><span style="background-color: #f5f5f5; color: #ff0000;">
	text-decoration</span><span style="background-color: #f5f5f5; color: #000000;">:</span><span style="background-color: #f5f5f5; color: #0000ff;">line-through</span><span style="background-color: #f5f5f5; color: #000000;">;</span><span style="background-color: #f5f5f5; color: #ff0000;">
	color</span><span style="background-color: #f5f5f5; color: #000000;">:</span><span style="background-color: #f5f5f5; color: #0000ff;">grey</span><span style="background-color: #f5f5f5; color: #000000;">;</span>
	<span style="background-color: #f5f5f5; color: #000000;">}</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">style</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">head</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">body</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">ng-controller</span><span style="color: #0000ff;">="TodoListController as todoList"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">span</span><span style="color: #0000ff;">&gt;</span>{{todoList.remaining()}} of {{todoList.todocs.length}} remaining<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">span</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
	[</span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">a </span><span style="color: #ff0000;">href</span><span style="color: #0000ff;">=""</span><span style="color: #ff0000;"> ng-click</span><span style="color: #0000ff;">="todoList.archive()"</span><span style="color: #0000ff;">&gt;</span>archive<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">a</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">]
	</span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">ul</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">li </span><span style="color: #ff0000;">ng-repeat</span><span style="color: #0000ff;">="todo in todoList.todocs"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">type</span><span style="color: #0000ff;">="checkbox"</span><span style="color: #ff0000;"> ng-model</span><span style="color: #0000ff;">="todo.done"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">span </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="done-{{todo.done}}"</span><span style="color: #0000ff;">&gt;</span>{{todo.text}}<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">span</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">li</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">ul</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">form </span><span style="color: #ff0000;">ng-submit</span><span style="color: #0000ff;">="todoList.addTodo()"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">type</span><span style="color: #0000ff;">="text"</span><span style="color: #ff0000;"> placeholder</span><span style="color: #0000ff;">="add new todo here"</span><span style="color: #ff0000;"> ng-model</span><span style="color: #0000ff;">="todoList.todoText"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;</span><span style="color: #800000;">input </span><span style="color: #ff0000;">type</span><span style="color: #0000ff;">="submit"</span><span style="color: #ff0000;"> value</span><span style="color: #0000ff;">="add"</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">form</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">body</span><span style="color: #0000ff;">&gt;</span>
	<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">html</span><span style="color: #0000ff;">&gt;</span>
</pre>
<h3 id="js实现"> 二、js实现</h3>
<pre class="code">
angular.module('todoApp'<span style="color: #000000;">,[])
.controller(</span>'TodoListController',<span style="color: #0000ff;">function</span><span style="color: #000000;">(){
	</span><span style="color: #0000ff;">var</span> todoList=<span style="color: #0000ff;">this</span><span style="color: #000000;">;
	todoList.todocs</span>=[{text:'learn angular',done:<span style="color: #0000ff;">true</span>},{text:'build an angular app',done:<span style="color: #0000ff;">true</span><span style="color: #000000;">}];
	todoList.addTodo</span>=<span style="color: #0000ff;">function</span><span style="color: #000000;">(){
	todoList.todocs.push({text:todoList.todoText,done:</span><span style="color: #0000ff;">false</span><span style="color: #000000;">});
	todoList.todoText</span>=''<span style="color: #000000;">;
	};
	todoList.remaining</span>=<span style="color: #0000ff;">function</span><span style="color: #000000;">(){
	</span><span style="color: #0000ff;">var</span> count=0<span style="color: #000000;">;
	angular.forEach(todoList.todocs,</span><span style="color: #0000ff;">function</span><span style="color: #000000;">(todo){
	count</span>+=todo.done?0:1<span style="color: #000000;">;
	});
	</span><span style="color: #0000ff;">return</span><span style="color: #000000;"> count;
	};
	todoList.archive</span>=<span style="color: #0000ff;">function</span><span style="color: #000000;">(){
	</span><span style="color: #0000ff;">var</span> oldTodocs=<span style="color: #000000;">todoList.todocs;
	todoList.todocs</span>=<span style="color: #000000;">[];
	angular.forEach(oldTodocs,</span><span style="color: #0000ff;">function</span><span style="color: #000000;">(todo){
	</span><span style="color: #0000ff;">if</span>(!<span style="color: #000000;">todo.done) todoList.todocs.push(todo);
	});

	};
	});</span>
</pre>
<h3 id="实例"> 三、实例</h3>
<div ng-app="todoApp" class="angularjs_one">
  <div ng-controller="TodoListController as todoList">
		<span>{{todoList.remaining()}} of {{todoList.todocs.length}} remaining</span>
		[<a href="" ng-click="todoList.archive()">archive</a>]
	<ul>
		<li ng-repeat="todo in todoList.todocs">
		  <input type="checkbox" ng-model="todo.done">
		  <span class="done-{{todo.done}}">{{todo.text}}</span>
		</li>
	</ul>
	<form ng-submit="todoList.addTodo()">
	 <input type="text" placeholder="add new todo here" ng-model="todoList.todoText">
	 <input type="submit" value="add">
	</form>
  </div>
</div>
<div>
  <ul class="comments">
  </ul>
</div>
<div>
<img src="../img/comment.png"/>
<textarea class="comment" placeholder="评论一下吧..." rows="4" cols="80"></textarea>
<span href="" class="submit_comment">确认</span>
</div>
		</div>
	</div>
	<div class="footer">
	<div class="copyright">
		<span>Copyright © 2012-2015 kingler/zou.  All Rights Reserved</span>
	</div>
	</div>
	<a href="#top" class="u-backtop e-backtop-fixed">
		<span class="u-icon i-backtop">
		</span>
	</a> 
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s8O5mNPm39Gl0ZuYxMdxPQX1"></script>
	<script type="text/javascript" src="../js/common.js"></script>
</body>
</html>
